body {
    background: #f0f0f0;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
}

#iacuc {
  margin: 0;
}

.loggedIn {
    border: solid;
    border-color: white;
    color: white;
    padding: 5px;
}

  .hidden {
      background-color: grey;
      
  }

a, a:active, a:visited, a:hover {
  color: #00305e;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav ul {
    list-style: none;
    display: inline-block;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 0 2% 0 2%;
}

nav ul li a, 
nav ul li a:active, 
nav ul li a:visited, 
nav ul li a:hover {
    color: #f5f5f5;
    font-weight: 600;
    text-decoration: none;
}

.nav-list {
    width: 70%;
    margin: 0 auto;
    padding: 0;
}

.menu-left {
    width: 30%;
}

.menu-right {
    float: right;
}

.white {
  color: white;
}

.container {
    background: #fff;
    width: 70%;
    padding: 2% 1%;
    margin: 0 auto;
}

.container p {
  padding-left: 5%;
  padding-right: 5%;
}

#main-nav {
    background: #00305e;
    font-size: 1.1rem;
    padding: 0;
}

#sub-nav {
  width: 70%;
  padding: 0 1%;
  background: #3a3a3a;
}

#sub-nav .nav-list {
  margin: 0;
}

#sub-nav .menu-left {
  margin: 15px 0;
  width: 100%;
}

#sub-nav ul li a, 
#sub-nav ul li a:active, 
#sub-nav ul li a:visited, 
#sub-nav ul li a:hover {
  font-size: 0.95rem;
}

.btn-primary {
  display: block;
  background: #5cb85c;
  padding: 10px;
  margin: 20px 0;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.btn-center {
  display: block;
  margin: 0 auto;
}

table {
    border-spacing: 0px;
    padding: 5px;
    width: 100%;
    font-size: 0.8rem;
    overflow-x: auto;
}

th {
    background: #00305e;
}

th a, 
th a:active, 
th a:visited {
  color: #f5f5f5;
}

th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background: #FFF;
}

tr:nth-child(odd) {
    background: #FFF;
}

.dynatable-per-page-label,
.dynatable-pagination-links,
.dynatable-record-count,
.dynatable-search,
.dataTables_wrapper {
  font-size: 0.8rem;
}
textarea {
  background: #f5f5f5;
  border: 1px solid #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  width: 500px;
  max-width: 800px;
  height: 200px;
}

#registration-button {
  margin-top: 50px;
}

.ui-draggable .ui-dialog-titlebar {
    color: #00305e;
}

.umwText {
    background-color: #c9cac2;
    border: 1px solid #25150c;
    padding: 3px;
    border-radius: 2px;
}

.required {
    color: red;
}

.umwButton {
    background-color: #333;
    border: 1px solid #666;
    cursor: pointer;
    font-weight: normal;
    padding: 3px 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin: auto;
}

.fpad {
    padding: 10px;
}

.global-footer {
    text-align: center;
    padding-top: 50px;
    font-size: 12px;
    padding-bottom: 50px;
}

.desc {
  display: inline-block;
  padding-right: 10px;
  font-weight: 600;
}

.hidden {
  background: #aaa;
}